body{
    font-family: 'Raleway',sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

h1,h2,p,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    margin: auto;
    width: 1620px;
}
.header{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #121212;
}
.header-list{
    display: flex;
    gap: 100px;
}
.header-link{
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
.header-link:hover{
    color: #B2FFA6;
}
.hero {
    border-bottom: 1px #000000 solid;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-wrap {
    padding-top: 150px;
}

.hero-title {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 50px;
}

.hero-title span {
    display: block;
    font-weight: 700;
}

.hero-btn {
    padding: 15px 80px;
    background-color: #B2FFA6;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color: #000000;
    letter-spacing: 6px;

}

.about{
    background-color: #EFEFEF;
    box-shadow: 0px 4px 4px 0px #00000040
}
.about-container{
    display: flex;
    align-items: center;
    gap: 78px;
}
.about-img{
    padding: 0px;
    margin: 0px;
}
.about-title{
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 700;
}
.about-text{
    justify-content: center;
    font-size: 32px;
    padding-bottom: 60px;
    font-weight: 400;
}
.about-btn{
    padding: 15px 80px 15px 80px;
    background-color: #B2FFA6;
    font-family: 'Oswald',sans-serif;
    color:#000000;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.06em;
}
.features {
    padding-top: 60px;
    padding-bottom: 60px;
}
.features-list {
    display: flex;
    row-gap: 88px;
    column-gap: 115px;
    flex-wrap: wrap;
    padding-right: 174px;
}
.features-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    padding-bottom: 25px;
    font-weight: 700;
}
.features-item {
    display: flex;
    width: 407px;
}

.features-container {
    display: flex;
    align-items: center;
}

.features-imges {
    display: flex;
    align-items: right;
    height: 50px;
    padding-right: 28px;
}
.services{
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 60px;
    
}
.services-container{
    display: flex;
    gap: 48px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.service-list{
    display: flex;
    gap: 48px;
}
.service-title{
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: 700;
}
.service-text{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 56px;
}
.service-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.service-text.item {
  display: flex;
  align-items: left;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 600;
}
.service-btn{
    padding: 15px 80px 15px 80px;
    font-family: 'Oswald',sans-serif;
    color:#000000;
    font-size: 24px;
    border: 3px solid #B2FFA6;
    border-radius: 5px;
    letter-spacing: 6px;
}
.footer{
    background-color: #121212;
    padding-top: 36px;
    padding-bottom: 36px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#FFFFFF
}
.footer-img{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 61px;
    padding-top: 61px;
}