body{
    font-family: 'Raleway',sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

h1,h2,p,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    margin: auto;
    width: 1620px;
}
.header{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #121212;
}
.header-list{
    display: flex;
    gap: 100px;
}
.header-link{
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
}
.header-link:hover{
    color: #B2FFA6;
}
.hero{
    border-bottom: 1px #000000 solid;
}
.hero-container{
    justify-content: space-between;
    display: flex;
    padding-left: 150px;
}
.hero-wrap{
    padding-top: 150px;
}
.hero-title{
    font-size: 64px;
    padding-bottom: 20px;
    font-weight: 400;
}
.hero-title{
    font-size: 64px;
    padding-bottom: 50px;
    font-weight: 700;
}
.hero-btn{
    padding: 15px 80px 15px 80px;
    background-color: #B2FFA6;
    font-family: 'Oswald',sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color:#000000;
}
.about{
    background-color: #EFEFEF;
    box-shadow: 0px 4px 4px 0px #00000040
}
.about-container{
    display: flex;
    gap: 78;
}
.about-img{
    padding: 0px;
    margin: 0px;
}
.about-wrap{
    justify-content: center;
    padding-top: 175px;
    padding-bottom: 225px;
}
.about-title{
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 700;
}
.about-text{
    justify-content: center;
    font-size: 32px;
    padding-bottom: 60px;
    font-weight: 400;
}
.about-btn{
    padding: 15px 80px 15px 80px;
    background-color: #B2FFA6;
    font-family: 'Oswald',sans-serif;
    color:#000000;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}
.features {
    padding-top: 60px;
    padding-bottom: 60px;
}
.features-list {
    display: flex;
    row-gap: 88px;
    column-gap: 115px;
    flex-wrap: wrap;
    padding-right: 174px;
}

.features-item {
    display: flex;
    width: 407px;
}

.features-container {
    display: flex;
    align-items: center;
    padding-right: 174px;
}

.features-imges {
    display: flex;
    align-items: right;
    height: 50px;
    padding-right: 28px;
}
.services{
    background-color: #EFEFEF;
}
.services-container{
    display: flex;
    gap: 48px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.services-list{
    display: flex;
    gap: 48px;
}
.service-title{
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: 700;
}
.service-text{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 56px;
}
.service-item{
    display: flex;
    align-items: center;
}
.service-img{
    display: flex;
    justify-content: space-between;
    width: 390px;
}