body{
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
}
p, h1, h2, h3, h4{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}
span{
    color: #EFEFEF;
}
.container{
    width: 0 auto;
    width: 1167px;
}
.header{
    padding: 32px 0px 32px;
    background-color: #121212;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
